
RewriteEngine on

Options -Indexes




# REMOVE PHP FROM URL
# REMOVE PHP EXTENSION
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^(.*)$ $1.php



<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteBase /
RewriteRule ([^/]*)/?$ /$1.php [QSA,L]
</IfModule>

# Habilitar o PHP 5.6
AddHandler application/x-httpd-php56 .php
<IfModule mod_suphp.c>
suPHP_ConfigPath /opt/php56/lib
</IfModule>

ErrorDocument 400 erro.php
ErrorDocument 401 erro.php
ErrorDocument 403 erro.php
ErrorDocument 500 erro.php
ErrorDocument 404 erro.php